body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 5px 1px black;
}

#game-title {
  font-size: 3rem;
  margin: 3% auto 2%;
  color: #FEF2BF;
}

#level-title {
  background-image: linear-gradient(to right bottom, #000, #555);
  border: solid 10px black;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  /* height: 128px; */
  line-height: 1.5;
  margin: 1rem auto;
  /* padding: 1%; */
  vertical-align: middle;
  width: 50%;
}

.navbar-snd {
  background-image: linear-gradient(to right bottom, #000, #555);
  border: solid 10px black;
  border-radius: 10px;
  width: 50%;
  height: 5rem;
  margin: 2% auto 0;
  position: relative;
}

.small-brand {
  align-items: center;
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: 1em;
  position: absolute;
  left: 3%;
  text-align: left;
  top: 0;
  text-decoration: none;
  }

.difficulty-menu-icon {
  align-items: center;
  bottom: 0;
  display: flex;
  padding: 0;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
}

.sound-selection {
  align-items: center;
  bottom: 0;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
  width: 50px;
}

.sound-on {
  filter: drop-shadow(0px 0px 3px rgb(0, 255, 0));
}

.sound-off {
  filter: drop-shadow(0 0 3px rgb(255, 0, 0));
}

.difficulty-section {
  display: none;
  margin: 0 50%;
  transform: translate(-50%);
  position: absolute;
  width: 50%;
}

.difficulty-choice {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #555;
  border: solid 3px #000;
  border-radius: 8px;
  display: block;
  height: 75px;
  position:absolute;
  right: 19%;
  transition: all .5s;
  width: 75px;
}

.not-chosen {
  background-size: 50%;
  opacity: 0.8;
  position: inherit;
  z-index: 1;
}

.not-chosen:hover {
  transform: scale(1.5);
  filter: drop-shadow(0px 0px 1px #fff);
  opacity: 1;
  position: inherit;
  z-index: 2;
}

.chosen {
  background-size: 75%;
  /* transform: scale(1.5); */
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 1));
  opacity: 1;
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.container {
  display: none;
  width: 500px;
  margin: auto;
}

.simonButton {
  margin: 10%;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 100%;
  box-shadow: 10px 10px 6px black;
  transition: all .2s;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(139, 0, 0);
}

.red-pressed {
  box-shadow: 0 0 20px rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  transform: translateY(3px) translateX(3px);
}

.green {
  background-color: rgb(0, 100, 0);
}

.green-pressed {
  box-shadow: 0 0 20px rgb(0, 212, 0);
  background-color: rgb(0, 212, 0);
  transform: translateY(3px) translateX(3px);
}

.blue {
  background-color: rgb(0, 0, 139);
}

.blue-pressed {
  box-shadow: 0 0 20px rgb(0, 0, 255);
  background-color: rgb(0, 0, 255);
  transform: translateY(3px) translateX(3px);
}

.yellow {
  background-color: rgb(155, 155, 4);
}

.yellow-pressed {
  box-shadow: 0 0 20px rgb(255, 255, 0);
  background-color: rgb(255, 255, 0);
  transform: translateY(3px) translateX(3px);
}

.dc-1 {
  background-image: url("../img/weak.png");
}

.dc-2 {
  background-image: url("../img/decent.png");
  top: 75px;
}

.dc-3 {
  background-image: url("../img/strong.png");
  top: 150px;
}

/* .dc-1:active,.dc-2:active,.dc-3:active {
 animation: shake 0.5s;
 animation-iteration-count: infinite;
} */

@keyframes shake {
  0% {
    transform: scale(1) translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: scale(1.2) translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: scale(1.3) translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: scale(1.4) translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: scale(1.5) translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: scale(1.8) translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: scale(1.5) translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: scale(1.4) translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: scale(1.3) translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: scale(1.2) translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: scale(1) translate(1px, -2px) rotate(-1deg);
  }
}